/*Core Styles*/

body {
  background-color: #f4f9f4;
  color: #616161;
  display: block;
  font-family: Helvetica, sans-serif;
  font-size: 1.1em;
  line-height: 1.5;
  margin: 0;
  text-align: center;
}

img {
  display: block;
  width: 100%;
}

h1, h2, h3 {
  margin: 0;
  padding: 1em 0;
}

p {
  font-size: 1em;
  margin: 0;
  padding: 1em 0em;
}

.content {
  margin: 0 0 1em 0;
}

/*Social Media Bar*/

#socialmediabar {
  background-color: white;
  opacity: 0.80;
  position: fixed;
  width: 100%;
  z-index: 2;
}

#socialmediabar img {
  display: inline-block;
  float: right;
  height: 1.6em;
  margin: 0;
  padding: 0.1em 0.1em;
  width: 1.6em;
}

#socialmediabar img:hover {
  opacity: 0.65;
}

#logo img {
  color: #616161;
  float: left;
  padding: 0.1em 0.2em;
  height: 1.8em;
  width: 1.8em;
}

#logo p {
  color: #616161;
  float: left;
  padding: 0.2em 0em;
}

#logo:hover {
  opacity: 0.65;
}
/*Title*/

#title {
  clear: right;
  color: white;
  margin-bottom: 1em;
  min-height: 450px;
  position: relative;
  text-align: center;
}

.background-image {
  background-image: url('/assets/img/mokapot-1-min.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 450px;
  opacity: 0.75;
  position: absolute;
  width: 100%;
  z-index: -1;
}

.title-text h1 {
  font-size: 3em;
  padding-top: 100px;
  padding-bottom: 0;
  text-transform: capitalize;
}

.title-text p {
  padding: 0;
}

/*Section A*/

#section-a {
  background-color: #3f5468;
  color: white;
}

#section-a h2 {
  padding: 1em 1em;
}

#section-a p {
  padding: 1em 1em 2em 1em;
}

/*Section B*/

#section-b {
  display: grid;
  grid-template-columns: 1fr;
}

#section-b div:nth-child(odd) {
  background-color: #e9fadd;
  padding: 0 1em;
  text-align: left;
  ;
}

#section-b div:nth-child(even) {
  background-color: #b8e4c9;
  padding: 0 1em;
  text-align: left;
}

#bimg {
  height: auto;
  overflow: hidden;
  width: 100%;
}

a img {
  -webkit-transition: -webkit-transform 0.3s ease;
  -moz-transition: -moz-transform 0.3s ease;
  -o-transition: -o-transform 0.3s ease;
  transition: transform 0.3s ease;
}

a img:hover {
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  transform: scale(1.05);
}

/*Gallery*/

/* Fading animation */

.fade {
  -webkit-animation: fade 15s;
  animation: fade 10s;
  -moz-animation: fade 5s;
  -o-animation: fade 5s;
}

@-webkit-keyframes fade {
  0% {
    opacity: 0
  }
  50% {
    opacity: 1
  }
  100% {
    opacity: 0
  }
}

@-moz-keyframes fade {
  0% {
    opacity: 0
  }
  50% {
    opacity: 1
  }
  100% {
    opacity: 0
  }
}

@keyframes fade {
  0% {
    opacity: 0
  }
  50% {
    opacity: 1
  }
  100% {
    opacity: 0
  }
}

@-o-keyframes fade {
  0% {
    opacity: 0
  }
  50% {
    opacity: 1
  }
  100% {
    opacity: 0
  }
}

/*Contact Us*/

#contactus {
  background-color: #3f5468;
  color: white;
}

iframe {
  border: 0;
  height: 400px;
  margin-bottom: 2em;
  width: 80%;
}

#form {
  margin-bottom: 1em;
}

.submissionbox {
  border: 1px solid #616161;
  box-sizing: border-box;
  display: inline-block;
  margin: 2px 0;
  padding: 3px 8px;
  width: 60%;
}

.detailsbox {
  border: 1px solid #616161;
  font-family: Helvetica, sans-serif;
  height: 60px;
  resize: none;
  margin: 2px 0;
  padding: 3px 0 0 4px;
  word-wrap: break-word;
  width: 60%;
}

.submitbutton {
  background-color: white;
  color: #616161;
  border: 0;
  font-family: Helvetica, sans-serif;
  padding: 6px;
  width: 10%;
}

/*Section C*/

#section-c {
  display: grid;
  grid-template-columns: 1fr;
}

#section-c div:nth-child(odd) {
  background-color: #b8e4c9;
  padding: 0 1em;
  text-align: left;
  ;
}

#section-c div:nth-child(even) {
  background-color: #e9fadd;
  padding: 0 1em;
  text-align: left;
}

#section-c img {
  padding-bottom: 1em;
}

#section-c p {
  padding: 0 0 1em 0;
}

/*Bottom Bar*/

#bottombar {
  background-color: #b8e4c9;
  padding: 0 1em 1em 1em;
}

#bottombar p {
  font-size: 0.9em;
  padding: 0;
}

/* Media Queries */

@media (min-width: 700px) {
  .content {
    margin-bottom: 2em;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
  }
  #socialmediabar img {
    height: 1.6em;
    padding: 0.1em 0.3em;
    width: 1.6em;
  }
  #socialmediabar p {
    padding: 0.2em 0;
  }
  #title h1 {
    font-size: 5em;
  }
  #title {
    margin-bottom: 2em;
  }
  #section-b {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  #section-c>div {
    display: block;
    margin-bottom: 2em;
  }
  #section-c img {
    float: left;
    height: auto;
    margin: 0 1.5em 2em 0;
    width: 50%;
  }
  #gallery {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
  }
}

@media (min-width: 1200px) {
  #section-b {
    grid-gap: 2em;
  }
  .submissionbox {
    width: 40%;
  }
  .detailsbox {
    width: 40%;
  }
  iframe {
    height: 600px;
  }
  #secCcontent {
    padding: 0 10%;
  }
}
