/*Core Styles*/
body {
  background-color: #f4f9f4;
  color: #616161;
  display: block;
  font-family: 'Quicksand', sans-serif;
  font-size: 1.1em;
  line-height: 1.5;
  padding: 0;
  margin: 0;
  text-align: center;
}

img {
  display: block;
  width: 100%;
}

h1, h2, h3 {
  margin: 0;
  padding: 15px 0;
}

p {
  font-size: 1em;
  margin: 0;
  padding: 1em 0em;
}

.content {
  box-shadow: 3px 3px 8px 3px #616161;
  margin: 20px auto;
  width: 90%;
}

.switchbar {
  position: absolute;
}

/*Social Media Bar*/
.socialmediabar {
  background-color: white;
  box-shadow: 1px 1px 3px 1px #616161;
  opacity: 0.97;
  position: fixed;
  top: -105px;
  transition: 0.5s ease-in-out;
  width: 100%;
  z-index: 2;
}

.socialmediabar img {
  display: inline-block;
  float: right;
  height: 38px;
  margin: 0;
  padding: 8px 3px;
  width: 38px;
}

.socialmediabar img:hover {
  opacity: 0.65;
  transition: 0.3s ease-in-out;
}

.topbar {
  display: flex;
  justify-content: space-between;
}

.linkbar {
  display: flex;
  justify-content: center;
}

.linkbaritem {
  color: #3f5468;
  font-size: 1.3em;
  margin: 12px 5px;
  padding: 0px 3px;
  position: relative;
  text-decoration: none;
}

.linkbaritem::after {
  background: none repeat scroll 0 0 transparent;
  background-color: #3f5468;
  bottom: 2px;
  content: "";
  display: block;
  height: 1.5px;
  left: 50%;
  position: absolute;
  transition: 0.7s ease-in-out;
  width: 0;
}

.linkbaritem::before {
  background: none repeat scroll 0 0 transparent;
  background-color: #3f5468;
  top: 2px;
  content: "";
  display: block;
  height: 1px;
  left: 50%;
  position: absolute;
  transition: 0.7s ease-in-out;
  width: 0;
}

.activebar::after {
  background: none repeat scroll 0 0 transparent;
  background-color: #3f5468;
  bottom: 2px;
  content: "";
  display: block;
  height: 1.5px;
  left: 0;
  position: absolute;
  transition: 0.7s ease-in-out;
  width: 100%;
}

.activebar::before {
  background: none repeat scroll 0 0 transparent;
  background-color: #3f5468;
  top: 2px;
  content: "";
  display: block;
  height: 1px;
  left: 0;
  position: absolute;
  transition: 0.7s ease-in-out;
  width: 100%;
}

@keyframes a {
  0% {
    left: 50%;
    width: 0;
  }
  100% {
    left: 0;
    width: 100%;
  }
}

.showbar {
  top: 0;
}

.barswitch {
  position: absolute;
  top: 160px;
}

.logo img {
  height: 50px;
  opacity: 1;
  padding: 3px;
  width: 50px;
}

.logo img:hover {
  opacity: 0.65;
  transition: 0.3s ease-in-out;
}

/*Title*/
.title {
  clear: right;
  color: white;
  margin-bottom: 1em;
  min-height: 450px;
  position: relative;
  text-align: center;
}

.background-image {
  background-image: url('/assets/img/mokapot-1-min.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 450px;
  opacity: 0.75;
  position: absolute;
  width: 100%;
  z-index: -1;
}

.title-text h1 {
  display: inline-block;
  font-size: 3em;
  padding-top: 100px;
  padding-bottom: 0;
  text-transform: capitalize;
}

.title-text p {
  padding: 0;
}

.title-text img {
  display: inline-block;
  height: 2.5em;
  width: 2.5em;
}

/*Section A*/
.section-a {
  background-color: #3f5468;
  color: white;
}

.section-a h2 {
  padding: 1em 1em;
}

.section-a p {
  padding: 1em 1em 2em 1em;
}

/*Menu*/
.menu {
  overflow: hidden;
}

.menutitle {
  cursor: pointer;
  background-color: #b8e4c9;
}

.menutitle:active {
  background-color: #b8e4c9;
}

.menutitle h1 {
  padding: 15px 0 0 0;
}

.menutitle p {
  font-size: 1.5em;
  padding: 0 0 10px 0;
}

.menu img {
  margin: auto;
  height: 40px;
  width: auto;
}

.menuitems {
  background-color: #e9fadd;
  height: 0;
  opacity: 0;
  transition: 0.7s ease-in-out;
}

.menuitems h3 {
  padding: 30px;
}

.showmenuitems {
  height: 580px;
  opacity: 1;
  transition: 0.7s ease-in-out;
}

.menugrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-transform: lowercase;
}

.flipme {
  animation: jumping 2s infinite;
}

.flipped {
  animation: none;
}

@keyframes jumping {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(7px);
  }
  67% {
    transform: translateY(0);
  }
  83% {
    transform: translateY(7px);
  }
  100% {
    transform: translateY(0);
  }
}

.chevron {
  transition-duration: 0.7s;
  transform: rotate(0);
}

.openchevron {
  transition-duration: 0.7s;
  transform: rotate(180deg) translateY(-585px);
}

/*Section B*/
.section-b {
  display: grid;
  grid-template-columns: 1fr;
}

.b1, .b2 {
  background-color: #e9fadd;
  padding: 5px 20px;
  text-align: left;
}

.b3 {
  background-color: #b8e4c9;
  padding: 5px 20px;
  text-align: left;
}

.bimg {
  height: auto;
  overflow: hidden;
  width: 100%;
}

.bimg img {
  -webkit-transition: -webkit-transform 0.3s ease;
  -moz-transition: -moz-transform 0.3s ease;
  -o-transition: -o-transform 0.3s ease;
  transition: transform 0.3s ease;
}

.bimg img:hover {
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  transform: scale(1.05);
}

/*Gallery*/

.gallery {
  margin: 30px auto;
}
/* Fading animation */
.fade {
  -webkit-animation: fade 15s;
  animation: fade 10s;
  -moz-animation: fade 5s;
  -o-animation: fade 5s;
}

@-webkit-keyframes fade {
  0% {
    opacity: 0
  }

  50% {
    opacity: 1
  }

  100% {
    opacity: 0
  }
}

@-moz-keyframes fade {
  0% {
    opacity: 0
  }

  50% {
    opacity: 1
  }

  100% {
    opacity: 0
  }
}

@keyframes fade {
  0% {
    opacity: 0
  }

  50% {
    opacity: 1
  }

  100% {
    opacity: 0
  }
}

@-o-keyframes fade {
  0% {
    opacity: 0
  }

  50% {
    opacity: 1
  }

  100% {
    opacity: 0
  }
}

/*Contact Us*/
.contactus {
  background-color: #3f5468;
  color: white;
}

.contactform {
  display: inline-block;
  margin: 20px auto;
  width: 60%;
}

.contactwrap {
  display: flex;
  align-items: center;
}

iframe {
  border: 0;
  height: 400px;
  margin-bottom: 20px;
  width: 80%;
}

.form {
  text-align: left;
}

.submissionbox, .detailsbox {
  border: 1px solid #616161;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
  margin: 5px 0;
  padding: 4px 8px;
  width: 100%;
}

.submissionbox {
  box-sizing: border-box;
}

.detailsbox {
  height: 60px;
  resize: none;
  word-wrap: break-word;
}

.submitbutton {
  background-color: white;
  border: 0;
  color: #616161;
  font-family: 'Quicksand', sans-serif;
  padding: 6px;
  width: 100px;
}

/*Section C*/
.section-c {
  display: grid;
  grid-template-columns: 1fr;
}

.c1, .c2 {
  background-color: #b8e4c9;
  padding: 10px 15px;
  text-align: left;
  ;
}

.c3 {
  background-color: #e9fadd;
  padding: 10px 15px;
  text-align: left;
}

.section-c img {
  position: relative;
  margin: 5px 0;
}

.section-c p {
  padding: 0 0 1em 0;
}

/*Bottom Bar*/
.bottombar {
  background-color: #b8e4c9;
  padding: 0 30px 30px 30px;
}

.bottombar p {
  font-size: 0.9em;
  padding: 0;
}

.jlweb {
  font-size: 0.5em;
  padding-top: 20px;
}

.jlweb a{
  color: #3f5468;
  text-decoration: none;
}

/* Media Queries */
@media (min-width: 768px) {
  .content {
    margin: 50px auto;
    width: 80%;
  }

  .logo img {
    padding: 5px 7px;
  }

  .logo p {
    padding: 0;
  }

  .socialmedia img {
    padding: 10px 7px;
  }

  .title-text h1 {
    font-size: 5em;
  }

  .title-text img {
    height: 70px;
    width: 70px;
  }

  .title {
    margin-bottom: 20px;
  }

  .menugrid {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .showmenuitems {
    height: 470px;
  }

  .openchevron {
    transition-duration: 0.7s;
    transform: rotate(180deg) translateY(-475px);
  }

  .section-b {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .b1, .b3, .b2 {
    padding: 15px 10px;
  }

  .section-c>div {
    display: block;
  }

  .section-c img {
    float: left;
    height: auto;
    margin: 0 20px 30px 0;
    max-height: 262px;
    max-width: 392px;
    width: 50%;
  }

  .gallery {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }

  .contactform {
    display: inline-block;
    margin: 20px auto;
  }

  .contactwrap {
    display: flex;
    align-items: center;
  }
}

@media (min-width: 1200px) {
  .section-b {
  }

  .b1, .b3, .b2 {
    padding: 20px;
  }

  .submissionbox {
  }

  .detailsbox {
  }

  iframe {
    height: 600px;
  }

  .secCcontent {
    padding: 0;
  }
}
